.dropdown {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 190px;
  right: 50px;
}

.menu-title {
  display: inline-block;
  width: 150px;
  height: 40px;
  padding: 12px 0 0;
  background: #9dc852;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-dropdown {
  display: block;
  position: absolute;
  top: 52px;
  background: #ebebeb;
  z-index: 1;
  transition: all 0.65s;
  width: 150px;
  visibility: hidden;
  opacity: 0;
  color: darkslategray;
  text-transform: none;
  cursor: default;
}

.menu-title:hover .menu-dropdown {
  visibility: visible;
  opacity: 1;
}

.sortItem {
  padding: 5px 0 0 0;
  font-size: small;
  cursor: pointer;
}

.sortItem:hover {
  background: rgba(17, 71, 234, 0.3);
}

.mainContainer {
  max-width: 1000px;
  margin: 50px auto 0;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
}

.furbabyCard {
  float: left;
  width: 30%;
  height: 575px;
  margin: 10px; 
  padding: 0 0 10px 0; 
}

.wrapper {
  background-color: white;
  position: relative;
  overflow: hidden;
}

.good, .spayed, .fivpositive {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 10px;
}

.good {
  background-color: #3ad676
}

.spayed {
  background-color: #cf6ee5
}

.fivpositive {
  background-color: #e29236
}

.furbabyDetails {
  position: absolute;
  background-color: white;
  height: 250px;
  padding: 1em;
  position: relative
}

.furbabyPhoto {
  min-height: 300px;
  min-width: 300px;
  height: 300px;
  width: 300px;
}

.furbabyName {
  font-size: 30px
}

.furbabyBreed {
  font-size: 20px
}

.parentInfo {
  background-color: #C2F970;
  font-weight: bolder;
  padding: 5px 10px;
  opacity: 0;
  transition: all 0.8s;
  width: 83%;
  position: absolute;
  top: 75%;
  border-radius: 25px;
  text-align: center;
}

.furbabyCard:hover .parentInfo {
  transform: translateY(-350%);
  opacity: 1
}

.parentTitle {
  font-size: 1.5em
}

.parentDetail {
  background-color: #d3f2a4;
  font-style: italic;
  margin: 0 auto;
  width: 75%;
}


.furbabyComments {
  font-size: 12px
}

.update {
  position: absolute;
  right: 0;
  background-color: #d1d2d6;
  width: 10px;
  height: 30px;
  font-family: none;
  padding-top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.updateMsg {
  position: absolute;
  right: 10px;
  top: 8px;
  background-color: white;
  padding: 5px 15px;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s
}

.update:hover + .updateMsg {
  opacity: 1;
}