.dropdown {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 190px;
  right: 50px;
}

ul {
  list-style-type: none;
}

.menu {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-title {
  display: inline-block;
  width: 150px;
  height: 40px;
  padding: 12px 0 0;
  background: #9dc852;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-dropdown {
  display: block;
  position: absolute;
  background: #ebebeb;
  z-index: 1;
  transition: all 0.5s;
  height: 150px;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}

.dropdown-title:hover .menu-dropdown {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}

li:hover {
  background: rgba(17, 71, 234, 0.3);
}

.mainContainer {
  max-width: 1000px;
  margin: 50px auto 0;
  font-family: 'Open Sans', sans-serif;
}

.furbabyCard {
  float: left;
  width: 30%;
  height: 575px;
  margin: 10px; 
  padding: 0 0 10px 0; 
}

.wrapper {
  background-color: white;
  position: relative;
  overflow: hidden;
}

.good, .spayed, .fivpositive {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 10px;
}

.good {
  background-color: #3ad676
}

.spayed {
  background-color: #cf6ee5
}

.fivpositive {
  background-color: #e29236
}

.wrapper>img {
  height: 300px;
  max-width: 100%
}

.furbabyDetails {
  position: absolute;
  background-color: white;
  /* transition: all 0.5s; */
  height: 250px
}

/* .furbabyCard:hover .furbabyDetails {
  transform: translateY(-95px);
  background-color: white
} */

.parentInfo {
  opacity: 0;
  transition: all 0.75s;
}

.furbabyCard:hover .parentInfo {
  transform: translateY(-300px);
  opacity: 1
}

.furbabyDetails {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.furbabyName {
  font-size: 30px
}

.furbabyBreed {
  font-size: 20px
}

.parentInfo {
  background-color: #C2F970;
  font-weight: bolder;
  padding: 5px 10px
}

.parentTitle {
  font-size: 1.5em
}

.parentTitle, .parentName, .parentAddress {
  color: #091540;
  font-weight: bolder
}

.furbabyComments {
  font-size: 12px
}