.mainContainer {
  max-width: 1000px;
  margin: 50px auto 0;
  font-family: 'Open Sans', sans-serif;
}

.furbabyCard {
  float: left;
  padding: 0 1.7rem;
  width: 45%;
  margin: 10px; 
  padding: 0 0 10px 0; 
}

.wrapper {
  background-color: white;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(black, 0.3), 0 15px 12px rgba(black, 0.2);
}

.wrapper>img {
  max-width: 100%;
  max-height: 100%
}

.furbaby {
  position: absolute;
  background-color: white
}

.furbabyDetails {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.furbabyName {
  font-size: 30px
}

.furbabyBreed {
  font-size: 20px
}