.mainContainer {
  max-width: 1000px;
  margin: 50px auto 0;
  font-family: 'Open Sans', sans-serif;
}

.furbabyCard {
  float: left;
  padding: 0 1.7rem;
  width: 45%;
  height: 550px;
  margin: 10px; 
  padding: 0 0 10px 0; 
}

.wrapper {
  background-color: white;
  /* min-height: 540px; */
  position: relative;
  overflow: hidden;
}

.sort {
  background: #fff;
  border-color: rgba(0, 0, 0, 0.12); 
  border-width: 0 0 1px 0;
  color: rgba(0, 0, 0, 0.73);
  cursor: default;
  display: block;
  line-height: 48px;
  padding: 2px 0 1px 16px;
  position: relative;
  text-align: left;
  text-shadow: none;
  width: 100%;
  z-index: 1;
  outline: none;
  overflow: hidden;
}

.good, .spayed, .fivpositive {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 10px;
  width: 65px;
  height: 20px
}

.good {
  background-color: #3ad676
}

.spayed {
  background-color: #cf6ee5
}

.fivpositive {
  background-color: #e29236
}

.wrapper>img {
  height: 350px;
  max-width: 100%
}

.furbabyDetails {
  position: absolute;
  /* background-color: white; */
  transition: all 0.5s;
  height: 175px
}

.furbabyCard:hover .furbabyDetails {
  transform: translateY(-35px);
}

.furbabyDetails {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.furbabyName {
  font-size: 30px
}

.furbabyBreed {
  font-size: 20px
}