.mainContainer {
  text-align: center
}

.furbabyImage {
  grid-area: image;
}

.furbabyName {
  grid-area: name;
}

.furbabyBreed {
  grid-area: breed;
}

.furbabyContainer {
  width: 55%;
  display: inline-grid;
  grid-template-areas: 
    'image name'
    'image name'
    'image breed';
  grid-gap: 10px;
  background-color: #b7d7e8;
  margin: 25px 0 25px 0;
}

.furbabyImage {
  margin: auto;
  width: 10vw;
  height: 10vh;
}

.furbabyContainer div {
  margin-left: -100%
}