.mainContainer {
  border-color: '#667c6c';
  border-style: ridge;
  width: 25%;
  height: 275px;
  margin-left: 150px 
}

.furbabyImage {}

.furbabyName {
  float: right
}

.furbabyBreed {
  float: right
}