.container {
  margin: auto;
  text-align: center;
  background-color: #6d6969;
  font-family: 'Open Sans', sans-serif;
  width: 70vw;
  color: white;
  margin-bottom: 15px
}

.title {
  font-size: 2.5em;
  padding-top: 15px;
  text-align: center;
}

.general {
  margin: auto;
  width: 80%;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap
}

.formfield {
  margin: auto;
  width: 45%
} 

.comment {
  width: 100%;
  height: 90px;
  margin-bottom: 45px;
}

.commentInput {
  height: 90px;
  font-size: 15px;
}

.charactersLeft {
  font-size: 10px;
  margin-left: 72%
}

.dropzone {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 15px
}

.dropzone img {
  height: 100px;
  width: 100px
}

.health {
  background-color: orange;
  padding: 10px 0 20px 0;
  margin-bottom: 15px;
}

.healthTitle {
  padding: 5px 0 10px 0;
  font-size: x-large;
  font-weight: bolder;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexItem {
  margin: 0 15%;
}

.flexQ {
  margin-bottom: -15px;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid;
  color: white;
  font-size: 20px;
  padding: 5px 50px;
  text-align: center;
  height: 30px;
  width: 50%;
  margin-top: 35px;
  margin-bottom: 75px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

textarea {
  background-color: transparent;
  border: 2px solid;
  color: white;
  font-size: 20px;
  padding: 5px 5px;
  text-align: center;
  width: 80%;
  margin-top: 35px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #89d63b;
}

textarea:focus::-webkit-input-placeholder {
  color: #6d6969;
}

.label-text {
  cursor: text;
  font-size: 20px;
  margin-top: -110px;
  transition: all 0.5s;
}

input:focus + .label-text {
  transform: translateY(-35px);
  color: #61e887;
}

input:valid + .label-text {
  transform: translateY(-35px);
  color: #61e887;
}

.button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
  margin-bottom: 15px
}

.button:hover {
  background-color: white;
  color: #61e887;
  outline: none
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #33aa2a;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ff7b25;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

.slider:after {
 content:'No';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 15px;
 font-family: 'Roboto', sans-serif;
}

input:checked + .slider:after {  
  content:'Yes';
}

.foster, .adopt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.fosterdiv, .adoptdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 35px 20px 0;
}

.fostercheck, .adoptcheck {
  margin: 0;
  width: 0px;
  height: 25px;
}

.date-input {
  border: 2px solid;
  margin-top: 50px
}

.date-input > input {
  margin: 0 0 25px 0;
}

.date-field {
  margin-top: -10px;
  padding: 5px 0;
  background-color: orange
}

.arrived:valid+.isValid:after{
  content: '✓';
  color: green;
  font-size: 150%;
  margin-left: 10px
}

.arrived:invalid+.isValid:after{
  content: '✖';
  color: firebrick;
  font-size: 150%;
  margin-left: 10px
}