.container {
  margin: auto;
  background-color: #6d6969;
  font-family: 'Eczar', serif;
  width: 70vw;
  color: white
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid;
  color: white;
  font-size: 20px;
  padding: 5px 50px;
  text-align: center;
  width: 50%;
  margin-bottom: 75px;
  font-family: 'Roboto', sans-serif;
}

input:focus + .label-text {
  transform: translateY(-25px);
  transform-style: preserve-3d
}

input:valid + .label-text {
  transform: translateY(-25px);
  transform-style: preserve-3d
}

.title {
  font-size: 2.5em;
  padding-top: 15px;
}

.label-text {
  cursor: text;
  font-size: 20px;
  line-height: 40px;
  margin-top: -110px;
  transition: all 0.5s;
}

ul {
  list-style: none
}

li {
  padding: 10px
}

div>img {
  height: 100px;
  width: 100px
}

button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}