.container {
  margin: auto;
  text-align: center;
  background-color: #6d6969;
  font-family: 'Open Sans', sans-serif;
  width: 70vw;
  color: white;
  margin-bottom: 15px
}

.title {
  font-size: 2.5em;
  padding-top: 15px;
  text-align: center;
}

.general {
  margin: auto;
  width: 80%;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap
}

.formfield {
  margin: auto;
  width: 45%
}

.comment {
  width: 100%;
  height: 90px;
  margin-bottom: 45px;
}

.commentInput {
  height: 60px;
  font-size: 15px;
}

.label-comment {
  cursor: text;
  font-size: 20px;
  margin-top: -130px;
  transition: all 0.5s;
  /* margin-bottom: 50px */
}

.dropzone {
  border-radius: 25%;
  text-align: center;
  text-align: center;
  margin: auto;
  margin-bottom: 15px
}

.dropzone img {
  height: 100px;
  width: 100px
}

.health {
  background-color: orange;
  padding: 10px 0 20px 0;
  margin-bottom: 15px;
}

.healthTitle {
  padding: 10px 0 10px 0;
  font-size: x-large;
  font-weight: bolder;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center */
}

.flexItem {
  margin: 0 35px;
}

.flexQ {
  margin-bottom: -20px;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid;
  color: white;
  font-size: 20px;
  padding: 5px 50px;
  text-align: center;
  height: 30px;
  width: 50%;
  margin-top: 35px;
  margin-bottom: 75px;
  font-family: 'Open Sans', sans-serif;
}

textarea {
  background-color: transparent;
  border: 2px solid;
  /* border-bottom: 2px solid; */
  color: white;
  font-size: 20px;
  padding: 5px 50px;
  text-align: center;
  height: 30px;
  width: 50%;
  margin-top: 35px;
  margin-bottom: 75px;
  font-family: 'Open Sans', sans-serif;
}

.label-text {
  cursor: text;
  font-size: 20px;
  margin-top: -110px;
  transition: all 0.5s;
}

input:focus + .label-text {
  transform: translateY(-35px);
  color: #61e887;
}

input:valid + .label-text {
  transform: translateY(-35px);
  color: #61e887;
}

textarea:focus + .label-comment {
  transform: translateY(-50px);
  color: #61e887;
}

textarea:valid + .label-comment {
  transform: translateY(-50px);
  color: #61e887;
}

button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
  margin-bottom: 15px
}

button:hover {
  background-color: white;
  color: #61e887;
  outline: 0
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #33aa2a;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ff7b25;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

.slider:after {
 content:'No';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 15px;
 font-family: 'Roboto', sans-serif;
}

input:checked + .slider:after {  
  content:'Yes';
}

.foster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.fosterdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.fosterQ {
  transform: translateY(-2px);
}