.container {
  margin: auto;
  background-color: #6d6969;
  font-family: 'Eczar', serif;
  width: 70vw;
  color: white;
  margin-bottom: 15px
}

.title {
  font-size: 2.5em;
  padding-top: 15px;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid;
  color: white;
  font-size: 20px;
  padding: 5px 50px;
  text-align: center;
  height: 30px;
  width: 50%;
  margin-top: 35px;
  margin-bottom: 75px;
  font-family: 'Roboto', sans-serif;
}

input:focus + .label-text {
  transform: translateY(-35px);
  color: #61e887;
}

input:valid + .label-text {
  transform: translateY(-35px);
  color: #61e887;
}

.label-text {
  cursor: text;
  font-size: 20px;
  margin-top: -110px;
  transition: all 0.5s;
}

div>img {
  height: 100px;
  width: 100px
}

.dropzone {
  border-radius: 25%;
  text-align: center
}

button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
  margin-bottom: 15px
}

button:hover {
  background-color: white;
  color: #61e887;
  outline: 0
}