.backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(84, 80, 80, 0.655);
  padding: 50px;
  color: #6a2fffb3;
  overflow: scroll
}

.cancelbtn {
  color: #d68306;
  background-color: #ad2662;
  margin-left: 65%
}

.containerModal {
  margin: auto;
  text-align: center;
  background-color: rgb(112, 179, 237);
  font-family: 'Open Sans', sans-serif;
  width: 65vw;
  color: white;
  padding-bottom: 35px
}

.titleModal, .titleExisting {
  font-size: 2em;
  padding-top: 15px;
}

.titleExisting {
  margin-bottom: 20px
}

.parentOptions {
  display: flex;
}

.parentAdd, .parentSelect {
  width: 50%;
  background-color: #efa959;
  height: 30px;
  cursor: pointer;
  padding-top: 10px;
  border: 1px solid hsl(28, 55%, 15%);
  box-shadow: 0 9px #999;
}

.parentAdd:active, .parentSelect:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.parentName, .parentAddress {
  margin: 20px 50px 0 50px;
  border-bottom: 0;
  background-color: rgb(77, 119, 155);
  padding-bottom: 15px;
}


.parentAddressItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.input-label {
  font-size: 15px;
  font-style: italic;
  color: orange;
  font-weight: bolder;
  margin-right: 15px;
}

.parentName .input {
  border-bottom: 2px solid white;
  position: static;
  width: 95%;
}

.parentAddress .input {
  border-bottom: 2px solid white;
  position: static;
  width: 75%;
  transform: translateY(-5px);
}

.state, .zip {
  display: flex;
  width: 45%;
}

.parents {
  margin: 25px 0 20px 0
}

.parentItem {
  color: black;
  font-size: 110%;
  font-weight: 800;
  cursor: pointer;
  margin-bottom: 25px;
}

.rt-tr-group:hover {
  transform: translate(3px, 3px);
  opacity: 0.5;
}

.-pagination {
  height: 40px
}

.-center {
  display: none !important;
}

.rt-th {
  padding: 0 !important;
  margin: 0 !important
}

.modal-text {
  cursor: text;
  font-size: 15px;
  color: navy;
}

.modal-text-address {
  padding-bottom: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 135px;
  height: 15px;
  background-color: grey;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  font-size: 10px;
  position: absolute;
  left: 80px;
  z-index: 1;
}

.tooltipLabel:hover + .tooltiptext {
  visibility: visible;
}

.tooltip .cancelbtn {
  position: absolute;
  top: 6px;
  margin-left: 75px;
}

ul {
  list-style-type: none;
}

.fileList {
  position: absolute;
  top: 25px;
  width: 150px;
  margin: 0;
  padding: 2px 0 2px 10px ;
  background-color: antiquewhite;
  color: black;
}

.fileItem {
  display: flex;
  margin-bottom: 3px;
}

.fileListItem {
  text-align: left;
  width: 120px;
  height: 15px;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnRemoveFile {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 15px;
}