.backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(84, 80, 80, 0.655);
  padding: 50px;
  color: #6a2fffb3;
  overflow: scroll
}

.cancelbtn {
  color: #d68306;
  background-color: #ad2662;
  margin-left: 65%
}

.containerModal {
  margin: auto;
  text-align: center;
  background-color: #6a2fff;
  font-family: 'Open Sans', sans-serif;
  width: 65vw;
  color: white;
  padding-bottom: 35px
}

.titleModal, .titleExisting {
  font-size: 2em;
  padding-top: 15px;
}

.titleExisting {
  margin-bottom: 20px
}

.parentOptions {
  display: flex;
}

/* .parentOptions > div {
  text-align: center
} */

.parentAdd, .parentSelect {
  width: 50%;
  background-color: rgb(255, 148, 28);
  height: 30px;
  cursor: pointer;
  padding-top: 10px;
  border: 1px solid hsl(28, 55%, 15%);
  box-shadow: 0 9px #999;
}

.parentAdd:active, .parentSelect:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.parentName {
  margin-top: 20px;
  border-bottom: 0;
}

.parentAddress {
  padding-bottom: 20px;
  border-top: 0;
}

.parentName>.input, .parentAddress>.input {
  border-bottom: 2px solid white;
  margin: auto;
  position: static;
  width: 65%;
  padding: 0 15px;
}

.parents {
  margin: 25px 0 20px 0
}

.parentItem {
  cursor: pointer;
  margin-bottom: 25px;
}

.rt-tr-group:hover {
  transform: translate(3px, 3px);
  opacity: 0.5;
}

.-pagination {
  height: 40px
}

.-center {
  display: none !important;
}

.rt-th {
  padding: 0 !important;
  margin: 0 !important
}

.modal-text {
  cursor: text;
  font-size: 20px;
  color: white;
}