.backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(84, 80, 83, 0.6);
  padding: 50px;
  color: greenyellow;
  overflow: scroll
}

.cancelbtn {
  color: #d68306;
  background-color: #ad2662;
  margin-left: 65%
}

.containerModal {
  margin: auto;
  text-align: center;
  background-color: #7dad26;
  font-family: 'Open Sans', sans-serif;
  width: 65vw;
  color: white;
  margin-bottom: 15px
}

.titleOption {
  font-size: 2.5em;
  padding-top: 15px;
  text-align: center;
}

.titleModal, .titleExisting {
  font-size: 2em;
  padding-top: 15px;
  text-align: center;
}

.titleExisting {
  margin-bottom: 20px
}

.titleExisting:hover {
  color: #ce19ea;
  font-weight: 200;
  cursor: pointer;
}

.parents {
  margin: 25px 0 20px 0
}

.parentItem {
  cursor: pointer;
  margin-bottom: 25px
}

.-pagination {
  height: 40px
}

.-center {
  display: none !important;
}

.titleOption {
  border-style: inset 
}

.rt-th {
  padding: 0 !important;
  margin: 0 !important
}

.modal-text {
  cursor: text;
  font-size: 20px;
  margin-top: -110px;
  transition: all 0.5s;
  /* padding-bottom: 75px */
}

input:focus + .modal-text {
  transform: translateY(-35px);
  color: #ea5b0e;
}

input:valid + .modal-text {
  transform: translateY(-35px);
  color: #ea5b0e;
}