.flash-msg {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px;
  width: 45%;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 45%;
  left: 25%;
}

.success {
  background-color: #a3e792;
  color: #1cb63d;
}

.error {
  background-color: #f69c90;
  color: #a01f0e;
}

.info {
  background-color: #70cfec;
  color: #202de9;
}