.matchContainer {
  margin: auto;
  background-color: #378a8e;
  width: 50vw;
  height: 15vh
}

div>select {
  margin: 10px 5px 25px 5px;
}

.matchContainer>button {
  margin: inherit;
  display: block
}