.mainParentContainer {
  text-align: center
}

.parentImage {
  grid-area: image;
}

.parentName {
  grid-area: name;
}

.parentAddress {
  grid-area: address;
}

.parentHasFoster {
  grid-area: hasFoster;
}

.parentContainer {
  width: 51%;
  display: inline-grid;
  grid-template-areas: 
    'image name'
    'image address'
    'image hasFoster';
  grid-gap: 10px;
  background-color: #b7d7e8;
  padding: 10px 0 10px 0;
  margin: 25px 0 25px 0;
}

.parentImage {
  margin: auto;
  width: 10vw;
  height: 10vh;
}

.parentContainer div {
  margin-left: -100%
}