.token-expire {
  width: 250px;
  text-align: center;
  margin: 100px auto;
  padding: 100px;
  background-color: #6d6969;
  color: whitesmoke;
}

.take-to-reset {
  color: #1d53e5;
  text-decoration: #1d53e5 underline;
  cursor: pointer;
}