.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.token-expire {
  width: 250px;
  text-align: center;
  margin: 100px auto;
  padding: 100px;
  background-color: #6d6969;
  color: whitesmoke;
}

.take-to-reset {
  color: #1d53e5;
  text-decoration: #1d53e5 underline;
  cursor: pointer;
}